<div  class="flex">

  <div class="m-5 text-white">

    <div href="#" class="line block">
      <p class="mb-2 text-2xl font-bold tracking-tight text-white">Informações pessoais</p>
      <div>
        <p class="text-2xl text-white">Nome: <span class="text-green-400">{{userResponse.name}}</span></p>

      </div>

      <div>
        <p class="text-2xl text-white">birthdate:  <span class="text-green-400">{{userResponse.birthdate}}</span></p>
      </div>

      <div>
        <p class="text-2xl text-white">Email:  <span class="text-green-400">{{userResponse.email}}</span></p>
      </div>

    </div>


    <!-- <div href="#" class="block">
        <p class="mb-2 text-2xl font-bold tracking-tight text-white">Informações de rents</p>


        <div *ngIf="rentResponse.message == 'error'">
          <p class="text-green-400">Você não está cadastrado em nenhum time</p>
        </div>

        <div *ngIf="rentResponse.message != 'error'">

          <div>
            <p class="text-2xl text-white">Seu time é <span class="text-green-400">{{rentResponse.timeResponse.time}}</span></p>
            <div>
              <p class="text-2xl text-white">Partidas: <span class="text-green-400">{{rentResponse.timeResponse.partidas_jogadas}}</span></p>
              <p class="text-2xl text-white">Vitorias: <span class="text-green-400">{{rentResponse.timeResponse.vitorias}}</span></p>
              <p class="text-2xl text-white">Perdidas: <span class="text-green-400">{{rentResponse.timeResponse.perdidas}}</span></p>
              <p class="text-2xl text-white">Empates: <span class="text-green-400">{{rentResponse.timeResponse.empate}}</span></p>
            </div>
          </div>

          <div>
            <p class="text-2xl text-white">Você está jogando de: <span class="text-green-400">{{rentResponse.posicaoResponse.posicao}}</span></p>
          </div>

        </div> -->

    </div>
