<div id="container">
  <h2> Users list</h2>
  <button  *ngIf="role == 'adm'" mat-raised-button color="primary" (click)="openDialog(null)">Add Element</button>

<table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="birthdate">
    <th mat-header-cell *matHeaderCellDef> Birthdate </th>
    <td mat-cell *matCellDef="let element"> {{element.birthdate | localDate}} </td>
  </ng-container>

  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef> Actived </th>
    <td mat-cell *matCellDef="let element"> {{element.state}} </td>
  </ng-container>

  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef> Permission </th>
    <td mat-cell *matCellDef="let element"> {{element.role}} </td>
  </ng-container>

  <ng-container matColumnDef="created">
    <th mat-header-cell *matHeaderCellDef> Created </th>
    <td mat-cell *matCellDef="let element"> {{element.createdAt | localDateTime}} </td>
  </ng-container>

  <ng-container matColumnDef="updated">
    <th mat-header-cell *matHeaderCellDef> Updated </th>
    <td mat-cell *matCellDef="let element"> {{element.updatedAt | localDateTime}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="editElement(element)" color="second">
        <mat-icon>edit</mat-icon>
      </button>
      <button *ngIf="role == 'adm'" mat-icon-button (click)="deleteElement(element.id)" color="second">
        <mat-icon>delete</mat-icon>
      </button>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
